<style>
h4{text-align:25%;}
input{width:100%;border:none;}
textarea{width:100%;border:none;resize:none;}
body{
	/*background-color: rgb(255,255,200);*/
	background-image:url(img/天空.jpg);
	background-size: 100%;
	background-attachment:scroll;
}
table{border:solid #000000; border-width:0px 0px 0px 0px;}
.class2{
	background-color:#B0E2FF;
}
.class2_2{
	background-color:#FFF68F;
	height:150px;
}
.class3{height:60px;}
/*鼠标悬停时改变颜色*/
.class4:hover{
	background-color:#B0E2FF;
	cursor: pointer;
}
.class4{
	background-color:#FFFFE0;
	cursor: pointer;
}
.class5{
	background-color:#FFFFE0;
	cursor: pointer;
}
.class6{
	width: 5%;
}
.class7{
	background-color:#FFF68F;
	height:40px;
}
#submit{width:10%;}
#reset{width:100px;height: 40px;}
#b1{width:100px;height: 40px;}
#name{value：qinbo}
#tip{color: yellow;}
</style>